$primaryColor1: hsl(233, 26%, 24%);
$primaryColor2: hsl(136, 65%, 51%);
$primaryColor3: hsl(192, 70%, 51%);
$neutralColor1: hsl(233, 8%, 62%);
$neutralColor2: hsl(220, 16%, 96%);
$neutralColor3: hsl(0, 0%, 98%);
$neutralColor4: hsl(0, 0%, 100%);
$fontSize: 1.8rem;
